/* line 1, scss/styles.scss */
:root {
  --menuTextColor: #9ebed0;
  --menuTextHoverColor: #eaf0f3;
  --menuBackgroundColor: #031129;
  /* Primary */
  --magenta-050: #f5e1f7;
  --magenta-100: #ecbdf2;
  --magenta-200: #ce80d9;
  --magenta-300: #bb61c7;
  --magenta-400: #ad4bb8;
  --magenta-500: #a23dad;
  --magenta-600: #90279c;
  --magenta-700: #7c1a87;
  --magenta-800: #671270;
  --magenta-900: #4e0754;
  /* Neutrals */
  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334e68;
  --blue-grey-800: #243b53;
  --blue-grey-900: #102a43;
  --link-color: #2900b4;
  --link-color-dark: #190070;
}

/* line 35, scss/styles.scss */
html {
  font-size: 125%;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

/* line 41, scss/styles.scss */
body {
  background-image: linear-gradient(135deg, #ffc96a, #ffbfdd);
  min-height: 100vh;
  padding: 3em;
  background-color: var(--blue-grey-100);
  color: var(--blue-grey-900);
}

/* line 51, scss/styles.scss */
h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.25;
}

/* line 58, scss/styles.scss */
h2 {
  font-weight: 400;
}

/* line 62, scss/styles.scss */
a {
  color: var(--link-color);
}

/* line 66, scss/styles.scss */
a:hover,
a:active {
  color: var(--link-color-dark);
}

/*
 * BEGIN EDITING FROM THIS POINT ONWARDS
 * =====================================
 */
/**
 * Accordion
 */
/* line 79, scss/styles.scss */
[data-theme="cheese"] {
  --background-color: #f3ca5f;
  --text-color: #3a1e0e;
}

/* line 84, scss/styles.scss */
[data-theme="lettuce"] {
  --background-color: #88d28b;
  --text-color: #091e0a;
}

/* line 89, scss/styles.scss */
[data-theme="tomato"] {
  --background-color: #f46e6e;
  --text-color: #1a0201;
}

/* line 94, scss/styles.scss */
[data-theme="beef"] {
  --background-color: #ac5a30;
  --text-color: #170005;
}

/* line 99, scss/styles.scss */
.accordion-container {
  max-width: 30em;
}

/* line 103, scss/styles.scss */
.accordion {
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* line 109, scss/styles.scss */
.accordion::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1em;
  background-color: rgba(125, 89, 69, 0.6);
  content: "";
}

/* line 119, scss/styles.scss */
.accordion:first-child {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

/* line 124, scss/styles.scss */
.accordion:first-child::before {
  border-top-left-radius: 1.5em;
}

/* line 128, scss/styles.scss */
.accordion:last-child {
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

/* line 133, scss/styles.scss */
.accordion:last-child::before {
  border-bottom-left-radius: 1.5em;
}

/* line 137, scss/styles.scss */
.accordion__header button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1rem);
  margin-left: 1rem;
  padding: 1.5rem 2rem 1.5rem;
  border: 0;
  text-align: left;
}

/* line 148, scss/styles.scss */
.accordion__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* Indicators */
/* line 155, scss/styles.scss */
.accordion__indicator > * {
  width: 1rem;
}

/* line 159, scss/styles.scss */
.accordion .indicator__plus {
  display: block;
}

/* line 163, scss/styles.scss */
.accordion .indicator__minus {
  display: none;
}

/* line 167, scss/styles.scss */
.accordion.is-open .indicator__minus {
  display: block;
}

/* line 171, scss/styles.scss */
.accordion.is-open .indicator__plus {
  display: none;
}

/* Accordion content */
/* line 176, scss/styles.scss */
.accordion.is-open .accordion__content {
  display: grid;
}

/* line 180, scss/styles.scss */
.accordion__content {
  display: none;
  grid-template-columns: 7.5em 1fr;
  grid-column-gap: 1.5em;
  align-items: center;
  padding-right: 3em;
  padding-bottom: 1.5em;
  padding-left: 3em;
}

/* line 190, scss/styles.scss */
.accordion__content svg {
  width: 10em;
  max-width: 100%;
}

/**
 * Off-Canvas Menu
 */
/* line 198, scss/styles.scss */
.offcanvas-is-open .offcanvas-menu,
.offcanvas-is-open .container {
  transform: translateX(14rem);
}

/* line 202, scss/styles.scss */
.offcanvas-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -14rem;
  width: 14rem;
  background-color: var(--menuBackgroundColor);
}

/**
 * Containers
 */
/* line 214, scss/styles.scss */
.container {
  padding-top: 3rem;
  padding-left: 2.5rem;
  max-width: 33rem;
}

/**
 * Menu button
 */
/* line 223, scss/styles.scss */
button {
  border: 2px solid currentColor;
}

/* line 227, scss/styles.scss */
button:hover,
button:focus,
.offcanvas-is-open button {
  background-color: var(--textColor);
  color: var(--backgroundColor);
  border-color: var(--textColor);
}

/* line 235, scss/styles.scss */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* line 242, scss/styles.scss */
.wrap {
  position: relative;
  max-width: 30em;
}

/**
 * START EDITING HERE
 * ==================
 */
/* line 251, scss/styles.scss */
.point-hand {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 3em;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  color: var(--magenta-300);
}

/**
 * Modal
 */
/* line 265, scss/styles.scss */
.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
}

/* line 279, scss/styles.scss */
.modal-is-open .modal-overlay {
  opacity: 1;
  z-index: 1;
}

/* line 284, scss/styles.scss */
.modal {
  display: grid;
  place-items: center;
  position: relative;
  border-radius: 4px;
  background-color: var(--magenta-300);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
  color: #fff;
  min-width: 50vmin;
  min-height: 50vmin;
}

/* line 296, scss/styles.scss */
.modal__close-button {
  position: absolute;
  top: -1.5em;
  right: -1.5em;
  padding: 1em 1em;
  font-size: 0.6em;
  border-radius: 50%;
  border: 2px solid var(--blue-grey-400);
  background: var(--blue-grey-400);
  color: white;
  opacity: 0;
}

/* line 309, scss/styles.scss */
.modal:hover .modal__close-button {
  opacity: 1;
}

/* line 313, scss/styles.scss */
.modal__close-button:hover,
.modal__close-button:active,
.modal__close-button:focus {
  opacity: 1;
  background: var(--magenta-300);
  border-color: var(--magenta-600);
}

/**
 * Modal button
 */
/* line 324, scss/styles.scss */
.button {
  padding: 0.75em 0.75em;
  border: none;
  border-radius: 4px;
  background-color: var(--magenta-300);
  color: #fff;
}

/* line 332, scss/styles.scss */
.button:hover,
.button:active {
  background-color: var(--magenta-600);
}

/**
 *  Navigation
 * -----------
 */
/* line 341, scss/styles.scss */
.nav {
  margin-top: 6rem;
}

/* line 345, scss/styles.scss */
.nav a {
  display: block;
  margin: 0;
  padding: 0.5rem 3rem;
  color: var(--menuTextColor);
  text-decoration: none;
}

/* line 353, scss/styles.scss */
.nav a:hover {
  background-color: #010b13;
}

/* line 357, scss/styles.scss */
.nav a:hover,
.nav a:focus,
.nav a:active {
  color: var(--menuTextHoverColor);
}

/*# sourceMappingURL=styles.css.map */