/* line 1, scss/styles.scss */
:root {
  --menuTextColor: #9ebed0;
  --menuTextHoverColor: #eaf0f3;
  --menuBackgroundColor: #031129;
  /* Primary */
  --magenta-050: #f5e1f7;
  --magenta-100: #ecbdf2;
  --magenta-200: #ce80d9;
  --magenta-300: #bb61c7;
  --magenta-400: #ad4bb8;
  --magenta-500: #a23dad;
  --magenta-600: #90279c;
  --magenta-700: #7c1a87;
  --magenta-800: #671270;
  --magenta-900: #4e0754;
  /* Neutrals */
  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334e68;
  --blue-grey-800: #243b53;
  --blue-grey-900: #102a43;
  --link-color: #2900b4;
  --link-color-dark: #190070;
  --indigo-050: #e0e8f9;
  --indigo-100: #bed0f7;
  --color-default-state: grey;
  --color-hover-state: rgb(107, 107, 195);
  --color-selected-state: rgb(17, 26, 101);
}

/* line 42, scss/styles.scss */
html {
  font-size: 125%;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

/* line 48, scss/styles.scss */
body {
  background-image: linear-gradient(135deg, #ffc96a, #ffbfdd);
  min-height: 100vh;
  padding: 3em;
  background-color: var(--blue-grey-100);
  color: var(--blue-grey-900);
}

/* line 61, scss/styles.scss */
h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.25;
}

/* line 68, scss/styles.scss */
h2 {
  font-size: 2.352637em;
  font-weight: 400;
}

/* line 73, scss/styles.scss */
p + *,
* + p {
  margin-top: 1em;
}

/* line 78, scss/styles.scss */
a {
  color: var(--link-color);
}

/* line 82, scss/styles.scss */
a:hover,
a:active {
  color: var(--link-color-dark);
}

/*
 * BEGIN EDITING FROM THIS POINT ONWARDS
 * =====================================
 */
/**
 * Accordion
 */
/* line 95, scss/styles.scss */
[data-theme="cheese"] {
  --background-color: #f3ca5f;
  --text-color: #3a1e0e;
}

/* line 100, scss/styles.scss */
[data-theme="lettuce"] {
  --background-color: #88d28b;
  --text-color: #091e0a;
}

/* line 105, scss/styles.scss */
[data-theme="tomato"] {
  --background-color: #f46e6e;
  --text-color: #1a0201;
}

/* line 110, scss/styles.scss */
[data-theme="beef"] {
  --background-color: #ac5a30;
  --text-color: #170005;
}

/* line 115, scss/styles.scss */
.accordion-container {
  max-width: 30em;
}

/* line 119, scss/styles.scss */
.accordion {
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* line 125, scss/styles.scss */
.accordion::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1em;
  background-color: rgba(125, 89, 69, 0.6);
  content: "";
}

/* line 135, scss/styles.scss */
.accordion:first-child {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

/* line 140, scss/styles.scss */
.accordion:first-child::before {
  border-top-left-radius: 1.5em;
}

/* line 144, scss/styles.scss */
.accordion:last-child {
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

/* line 149, scss/styles.scss */
.accordion:last-child::before {
  border-bottom-left-radius: 1.5em;
}

/* line 153, scss/styles.scss */
.accordion__header button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1rem);
  margin-left: 1rem;
  padding: 1.5rem 2rem 1.5rem;
  border: 0;
  text-align: left;
}

/* line 164, scss/styles.scss */
.accordion__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* Indicators */
/* line 171, scss/styles.scss */
.accordion__indicator > * {
  width: 1rem;
}

/* line 175, scss/styles.scss */
.accordion .indicator__plus {
  display: block;
}

/* line 179, scss/styles.scss */
.accordion .indicator__minus {
  display: none;
}

/* line 183, scss/styles.scss */
.accordion.is-open .indicator__minus {
  display: block;
}

/* line 187, scss/styles.scss */
.accordion.is-open .indicator__plus {
  display: none;
}

/* Accordion content */
/* line 192, scss/styles.scss */
.accordion.is-open .accordion__content {
  display: grid;
}

/* line 196, scss/styles.scss */
.accordion__content {
  display: none;
  grid-template-columns: 7.5em 1fr;
  grid-column-gap: 1.5em;
  align-items: center;
  padding-right: 3em;
  padding-bottom: 1.5em;
  padding-left: 3em;
}

/* line 206, scss/styles.scss */
.accordion__content svg {
  width: 10em;
  max-width: 100%;
}

/**
 * Off-Canvas Menu
 */
/* line 214, scss/styles.scss */
.offcanvas-is-open .offcanvas-menu,
.offcanvas-is-open .container {
  transform: translateX(14rem);
}

/* line 218, scss/styles.scss */
.offcanvas-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -14rem;
  width: 14rem;
  background-color: var(--menuBackgroundColor);
}

/**
 * Containers
 */
/* line 230, scss/styles.scss */
.container {
  padding-top: 3rem;
  padding-left: 2.5rem;
  max-width: 33rem;
}

/**
 * Menu button
 */
/* line 239, scss/styles.scss */
button {
  border: 2px solid currentColor;
}

/* line 243, scss/styles.scss */
button:hover,
button:focus,
.offcanvas-is-open button {
  background-color: var(--textColor);
  border-color: var(--textColor);
}

/* line 250, scss/styles.scss */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* line 257, scss/styles.scss */
.wrap {
  position: relative;
  max-width: 30em;
}

/**
 * START EDITING HERE
 * ==================
 */
/* line 266, scss/styles.scss */
.point-hand {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 3em;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  color: var(--magenta-300);
}

/* line 277, scss/styles.scss */
.wave-hand {
  animation: wave 1s ease 1s 5 reverse paused;
}

/* line 292, scss/styles.scss */
.wave-hand:hover {
  animation-play-state: running;
}

/**
 * Modal
 */
/* line 300, scss/styles.scss */
.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s ease-in;
}

/* line 316, scss/styles.scss */
.modal-is-open .modal-overlay {
  opacity: 1;
  z-index: 1;
}

/* line 321, scss/styles.scss */
.modal {
  display: grid;
  place-items: center;
  position: relative;
  border-radius: 4px;
  background-color: var(--magenta-300);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
  color: #fff;
  min-width: 50vmin;
  min-height: 50vmin;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: scale(1.1) rotate(-45deg);
  }
  50% {
    transform: scale(1.3) rotate(45deg);
  }
  75% {
    transform: scale(1.1) rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* line 351, scss/styles.scss */
.modal__close-button {
  position: absolute;
  top: -1.5em;
  right: -1.5em;
  padding: 1em 1em;
  font-size: 0.6em;
  border-radius: 50%;
  border: 2px solid var(--blue-grey-400);
  background: var(--blue-grey-400);
  color: white;
  opacity: 0;
}

/* line 364, scss/styles.scss */
.modal:hover .modal__close-button {
  opacity: 1;
}

/* line 368, scss/styles.scss */
.modal__close-button:hover,
.modal__close-button:active,
.modal__close-button:focus {
  opacity: 1;
  background: var(--magenta-300);
  border-color: var(--magenta-600);
}

/**
 * Modal button
 */
/* line 379, scss/styles.scss */
.button {
  padding: 0.75em 0.75em;
  border: none;
  border-radius: 4px;
  background-color: var(--magenta-300);
  color: #fff;
  transition: background-color 0.5s ease-out;
}

/* line 388, scss/styles.scss */
.button:hover,
.button:active {
  background-color: var(--magenta-600);
}

/**
 *  Navigation
 * -----------
 */
/* line 397, scss/styles.scss */
.nav {
  margin-top: 6rem;
}

/* line 401, scss/styles.scss */
.nav a {
  display: block;
  margin: 0;
  padding: 0.5rem 3rem;
  color: var(--menuTextColor);
  text-decoration: none;
}

/* line 409, scss/styles.scss */
.nav a:hover {
  background-color: #010b13;
}

/* line 413, scss/styles.scss */
.nav a:hover,
.nav a:focus,
.nav a:active {
  color: var(--menuTextHoverColor);
}

/**
 * Tabby
 */
/* line 423, scss/styles.scss */
[data-theme="tamagotchi"] {
  --border-color: hsl(352, 100%, 40%);
  --text-color: hsl(352, 97%, 23%);
}

/* line 428, scss/styles.scss */
[data-theme="digimon"] {
  --border-color: hsl(215, 46%, 42%);
  --text-color: hsl(215, 63%, 23%);
}

/* line 433, scss/styles.scss */
[data-theme="pokemon"] {
  --border-color: hsl(46, 100%, 52%);
  --text-color: hsl(43, 26%, 26%);
}

/* line 438, scss/styles.scss */
.tabby {
  max-width: 45em;
  margin: auto;
}

/* Tabs */
/* line 444, scss/styles.scss */
.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* line 449, scss/styles.scss */
.tab {
  position: relative;
  margin-bottom: -0.5em;
  padding: 1em;
  background-color: var(--indigo-100);
  border: 0.5em solid var(--border-color);
  filter: grayscale(75%) brightness(0.9);
  color: var(--text-color);
}

/* line 459, scss/styles.scss */
.tab.is-selected {
  filter: none;
  background-color: white;
}

/* line 464, scss/styles.scss */
.tab.is-selected::after {
  position: absolute;
  z-index: 1;
  bottom: -0.5em;
  left: 0;
  right: 0;
  display: block;
  content: "";
  border-bottom: 0.5em solid white;
}

/* Tab-content */
/* line 476, scss/styles.scss */
.tab-contents {
  position: relative;
}

/* line 480, scss/styles.scss */
.tab-content {
  display: none;
  padding: 2.5em;
  border: 0.5em solid var(--border-color);
  background-color: white;
}

/* line 487, scss/styles.scss */
.tab-content.is-selected {
  display: block;
}

/* line 491, scss/styles.scss */
.tab-content p {
  max-width: 30em;
}

/* line 495, scss/styles.scss */
.tab-content img {
  float: right;
  width: calc((100% - 1em) / 2);
  margin-left: 1em;
  margin-bottom: 1em;
}

/**
 * Carousel
 */
/* line 506, scss/styles.scss */
.carousel {
  display: grid;
  grid-template-columns: 3em 80vw 3em;
  grid-template-rows: 70vh 3em;
  align-items: center;
  grid-gap: 1em;
}

/* line 514, scss/styles.scss */
.carousel > *:nth-child(2) {
  grid-column: 2;
  align-self: stretch;
}

/**
 * Carousel contents
 */
/* line 522, scss/styles.scss */
.carousel__contents-container {
  overflow: hidden;
}

/* line 525, scss/styles.scss */
.carousel__contents {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 531, scss/styles.scss */
.carousel__slide {
  position: absolute;
  width: inherit;
  height: inherit;
}

/* This code works if the width of one slide is 800px */
/* line 545, scss/styles.scss */
.carousel__slide > a {
  display: block;
  width: inherit;
  height: inherit;
}

/* line 551, scss/styles.scss */
.carousel__slide img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center center;
}

/**
 * Buttons
 */
/* line 561, scss/styles.scss */
.carousel__button {
  padding: 0.25em;
  border: none;
}

/* line 565, scss/styles.scss */
.carousel__button svg {
  fill: var(--color-default-state);
}

/* line 569, scss/styles.scss */
.carousel__button:hover svg,
.carousel__button:active svg {
  fill: var(--color-hover-state);
}

/* line 574, scss/styles.scss */
.carousel__button.is-hidden {
  display: none;
}

/**
 * Dots
 */
/* line 581, scss/styles.scss */
.carousel__dots {
  grid-column: 1 / -1;
  justify-self: center;
}

/* line 586, scss/styles.scss */
.carousel__dot {
  width: 1em;
  height: 1em;
  padding: 0;
  border-radius: 100%;
  background-color: var(--color-default-state);
}

/* line 594, scss/styles.scss */
.carousel__dot + .carousel__dot {
  margin-left: 1em;
}

/* line 598, scss/styles.scss */
.carousel__dot:hover {
  background-color: var(--color-hover-state);
}

/* line 602, scss/styles.scss */
.carousel__dot.is-selected {
  background-color: var(--color-selected-state);
}

/* line 606, scss/styles.scss */
.is-hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */